node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*-config.js
*.mobileprovision
firebaseconfig.js
kakao-config.js
jbcallconfig.js
android/.idea/libraries/*
android/app/build/*
android/.idea/*
android/.gradle/*
android/gradle.properties
*.DS_Store
android/app/release/*
