node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*-config.js
*.mobileprovision
firebaseconfig.js
kakao-config.js
jbcallconfig.js
android/.idea/libraries/*
android/app/build/*
android/.idea/*
android/.gradle/*
android/gradle.properties
*.DS_Store
android/app/release/*
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
# CocoaPods
ios/Pods
node_modules
android/app/src/main/java/host/exp/exponent/generated/DetachBuildConstants.java
ios/----.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/----.xcodeproj/project.pbxproj
android/.project
ios/----.xcodeproj/project.pbxproj
ios/Podfile.lock
android/app/.settings/org.eclipse.buildship.core.prefs
android/.settings/org.eclipse.buildship.core.prefs
android/app/.classpath
android/app/.project
android/app/src/main/java/host/exp/exponent/generated/DetachBuildConstants.java
ios/----.xcodeproj/project.pbxproj
*.iml
android/app/src/main/java/host/exp/exponent/generated/DetachBuildConstants.java
android/.DS_Store
android/app/.DS_Store
android/app/beta/release/app-beta-release.aab
android/app/prod/release/app-prod-release.aab
android/app/prod/release/app-prod-release.apk
android/app/src/beta/google-services.json
ios/----/Supporting/shell-app.bundle
android/app/beta/release/app-beta-release.apk
android/app/src/main/assets/shell-app.bundle
ios/----/Supporting/shell-app.bundle
android/app/src/main/assets/shell-app.bundle
android/app/src/main/assets/shell-app-manifest.json
ios/----/Supporting/shell-app-manifest.json
ios/----/Supporting/shell-app.bundle
android/app/src/main/assets/shell-app-manifest.json
android/app/src/main/assets/shell-app.bundle
android/app/src/main/java/host/exp/exponent/generated/AppConstants.java
.DS_Store
android/app/src/main/assets/shell-app-manifest.json
android/app/src/main/assets/shell-app.bundle
android/app/.DS_Store
google-services.json
android/app/google-services.json
android/app/src/dev/google-services.json
android/app/src/beta/google-services_pre.json

# The following contents were automatically generated by expo-cli during eject
# ----------------------------------------------------------------------------

# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifacts
*.jsbundle

# CocoaPods
/ios/Pods/

# Expo
.expo/*
web-build/

# The following contents were automatically generated by expo-cli during eject
# ----------------------------------------------------------------------------

# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifacts
*.jsbundle

# CocoaPods
/ios/Pods/

# Expo
.expo/*
web-build/
.firebase/hosting.d2ViLWJ1aWxk.cache
android/app/prod-release-key.keystore
android/app/dev/release/app-dev-release.aab
android/app/dev/release/app-dev-release.apk
android/app/dev/release/output-metadata.json
.env
.env.dev
clean/.expo/**
