<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application android:usesCleartextTraffic="true" tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning" >
        <!-- EXPO NOTIFICATION CUSTOM ICON-->
        <meta-data
            android:name="expo.modules.notifications.default_notification_icon"
            android:resource="@drawable/ic_stat_notifications" />
        <meta-data
            android:name="expo.modules.notifications.large_notification_icon"
            android:resource="@drawable/ic_stat_notifications" />
        <meta-data
            android:name="expo.modules.notifications.default_notification_color"
            android:resource="@color/notification_icon_color" />
        <meta-data
            android:name="expo.modules.notifications.large_notification_color"
            android:resource="@color/notification_largeicon_color" />
    </application>
</manifest>
